<section id="services" class="py-20 md:py-28 flex items-center justify-center md:h-screen">
    <div class="container mx-auto px-4 md:px-8">
        <div class="max-w-2xl mx-auto">
            <h2 class="font-poppins font-bold text-4xl md:text-5xl text-dark mb-8 leading-tight relative inline-block">
                We Create Wonderful Web
                <br>
                Experiences
                <!-- Highlight effect -->
                <span class="absolute top-[32px] -left-2 w-28 h-4 bg-primary -z-10 transform -rotate-2"></span>
            </h2>

            <p class="text-base md:text-lg leading-relaxed mb-12 text-gray-700 tracking-tight text-justify">
                We plan, design, and develop user-friendly and responsive web experiences, ranging from personal
                portfolios and business websites to complex, custom-built corporate web portals and applications. We
                integrate social media and other popular services, optimizing our products for fast loading and search
                engine indexing. Our customers are small to medium-sized businesses. Additionally, we provide hosting,
                server maintenance, and support services.
            </p>

            <div class="flex">
                <a href="#approach"
                    class="relative group py-1 px-1 text-dark font-bold text-lg hover:text-primary transition-colors tracking-wide">
                    Approach
                    <span class="absolute bottom-0 left-0 h-1 bg-primary transition-all duration-300 w-full"></span>
                    <span class="absolute top-full left-1/2 mt-1 nav-arrow"></span>
                </a>
            </div>
        </div>
    </div>
</section>